{% load static %}
<footer>
    <div class="upper-footer container-fluid pt-5 pb-5">
        <div class="row">
            <div class="col"></div>

            <div class="footer-box col-lg-2 col-12 px-5 pt-5 pb-5">
                <h3 class="box-header">DON'T WASTE TIME</h3>

                <div class="box-text pt-3">
                    CONTACT ME FOR ANYTHING!!!
                </div>
            </div>

            <div class="col"></div>

            <div class="footer-box col-lg-2 col-12 px-5 pt-5 pb-5">
                <h3 class="box-header">ALL CONTACTS</h3>

                <div class="box-text pt-3">
                    WhatsApp +237652195180
                </div>

                <div class="box-text pt-3">
                    godloveyufenyuy@gmail.com
                </div>

                <div class="box-text pt-3">
                    Mon - Sun (Available)
                </div>
            </div>

            <div class="col"></div>

            <div class="footer-box col-lg-4 col-12 px-5 pt-5 pb-5">
                <div class="row">
                    <div class="col">
                        <h3 class="box-header">ABOUT ME</h3>
                    </div>
                </div>

                <div class="box-text pt-3">
                  I am a professional full stack web application developer as shown above. My work, credentials and
                  expertise speak for themselves. Feel free to contact me in case of any enquiries.
                </div>
            </div>

            <div class="col"></div>
        </div>
    </div>

    <div class="footer-bottom container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="copyright pt-2 pb-2">
                    @copyright GhostyRex {% now "Y" %}
                </div>
            </div>

        </div>
    </div>
</footer>
